<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="table/bootstrap-table.min.css"/>

    <script type="text/javascript" src="bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="table/extensions/export/bootstrap-table-export.min.js"></script>
    <script type="text/javascript" src="table/extensions/export/tableExport.js"></script>
    <script type="text/javascript" src="laydate/laydate.js"></script>

</head>
<body>

<div id="modelPanel" class="row" hidden="hidden" style="width: 100%;height: 300px;position: fixed;z-index: 1;margin-top: 10px">
    <div class="col-xs-3"></div>
    <div class="col-xs-6" style="height: 100%;">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">添加模型</h3>
            </div>
            <div class="panel-body">
                <!--<form action="./model/create" method="post">-->
                    <div class="input-group" style="padding: 10px">
                        <span class="input-group-addon">名称</span>
                        <input id="name" name="name" type="text" class="form-control" placeholder="请输入名称"/>
                    </div>
                    <div id="upwddiv" class="input-group" style="padding: 10px">
                        <span class="input-group-addon">KEY</span>
                        <input id="key" name="key" type="text" class="form-control" placeholder="请输入KEY"/>
                    </div>
                    <div class="input-group" style="padding: 10px">
                        <span class="input-group-addon">描述</span>
                        <textarea id="description" name="description" type="text" class="form-control" placeholder="请输入描述">
                        </textarea>
                    </div>
                <!--</form>-->
                    <div style="width: 60%;margin: 0 auto">
                        <button id="submit" onclick="createModel()" type="submit" style="width: 45%;" class="btn btn-success">提交
                        </button>
                        <button type="button" onclick="cloasPanal()" class="btn btn-warning" style="width: 45%;">取消
                        </button>
                    </div>

            </div>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>
<div class="row base-margin" id="query">

    <form class="form-inline" role="form" style="float: left;" method="post" id="queryForm">
        <div class="form-group">
            <label for="userName">&nbsp;&nbsp;&nbsp;&nbsp;模型名称:</label>
            <input type="text" class="form-control" name="userName" id="userName" placeholder="请输入模型名称"/>
        </div>
        <div class="form-group">
            <label>日期:</label>
            <input placeholder="开始日期" class="form-control " id="startDate" name="startDate"/>
            <input placeholder="结束时间" class="form-control laydate" id="endDate" name="endDate"/>
        </div>
        <div class="form-group">
            <button type="button" id="queryBtn" onclick="doQuery();" class="btn btn-success" >查询</button>
        </div>

        <div class="form-group btn-right">
            <button type="button" class="btn btn-success"  id="addBtn" onclick="openPanal();">新增模型</button>
        </div>
    </form>
</div>
<div class="container" style="width: 100%">
    <table id="table">
        <!--<thead style="background-color: #27a0d7"></thead>-->
    </table>
</div>
<script src="js/modlist.js"></script>
</body>
</html>
